<a class="btn btn-primary" href="~/Afiliado/Agregar"> Agregar </a>



<a class="btn btn-success" href="~/Afiliado/ConsultaMasiva"> Consulta Masiva </a>



<a class="btn btn-warning" href="~/Afiliado/MontoRestar"> Monto A Restar </a>



<table class="table table-hover table-striped  " id="tabla-afiliados">
    <tr id="tr-cabecera">
        <th>
            id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Cedula
        </th>
        <th>
            Sexo
        </th>
        <th>
            Nss
        </th>
        <th>
            Fec Nac
        </th>
        <th>
            FEC REG
        </th>
        <th>
            Plan
        </th>
        <th>
            Estatus
        </th>
        <th>
            Mon Con
        </th>
        <th>
            Opciones
        </th>
        <th></th>
    </tr>

</table>


<script src="~/Content/js/buscar.js"></script>


